.product_body {
    display : block;
    position: relative;
    overflow: hidden;

    p {
        text-align    : center;
        text-transform: capitalize;
        font-weight   : 200;
        font-size     : 1em;
        padding-bottom: 10px;
    }

}